# ------------------------------------
# 1. Quarto & Extension Output
# ------------------------------------

# Quarto project cache/temporary files
.quarto/
.ipynb_checkpoints/
.DS_Store

# ------------------------------------
# 2. General Git/System Files
# ------------------------------------

# Temporary files created by the OS
*~
*.swp
.Trash-*

# ------------------------------------
# 3. VS Code Specific Files
# ------------------------------------

# VS Code settings directory
.vscode/

# Local history created by some VS Code extensions
.history/

# Log and temporary files
*.log
*.tmp

/.luarc.json
